/* Your SCSS here. */
#header{
    margin: 0px;
    padding: 0px;
    z-index: 100;
    overflow-x: hidden;
    min-width: 100%;
    height: 74px;
    background-color: #2e4e67;
    color: rgb(208, 202, 117); 
    text-align: right;
    // float: right;
    // align-content: middle;
    align-content: center;
    // display: flex;
    align-items:center;
    border-radius: 8px;
    box-sizing: border-box;
}

#headerTitle {
    color: white;
    text-align: left;
    // position: absolute;
}

footer {
    padding-top: 50px;
    width: 100%;
    height: 150px;
    background-color: #2e4e67;
    align-items: center;
    text-align: center;
}
.footerInfo{
    padding-left: 10vw;
    padding-right: 10vw;
}

.email {
    color: white;
    
    // border-top: 100px;
    font-size: large;

}


html{
    background-image: url("~/assets/background2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
}

.top {
    position: fixed;
    top: 0;
}


.subHeader{
    display: inline-block;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    // padding-top: 5px;
    padding-bottom: 5px;
    // margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-style: solid;
    background-color: #2e4e67;
    border-color: #346a92;
    font-size: 19px;
    cursor: pointer;
    
}

#contact{
    margin-right: 20px;
    // background-color: #1f3a4f;
}




@mixin strip-formats($color) {
    background-color: $color;
    // margin-left: 100px;
    // margin-right: 100px;
    width: 100%;
    height: 600px;
    border-style: unset;
    // background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
}

// #profile{ @include strip-formats(#D7DFE6); }
#interestSection{ 
    @include strip-formats(#ffffff); 
    flex-direction: column;
    // margin-bottom: 80px; 
}

#videoSection{ 
    @include strip-formats(#ffffff); 
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 40px;
    // margin-bottom: 80px; 
}

#video {
    height: 65%;
    width: 65%;
    
}

// #strip2{ @include strip-formats(#70c9d5); }
#strip4{ @include strip-formats(#ffffff);
    background-color: #ffffff;
    width: 100%;
    height: 600px;
    border-style: unset;
    // background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
}
#strip3{ 
    height: 100px;
    // opacity: 80%;
}


.card {
    margin-right: 14%;
    margin-left: 14%;
    margin-top: 5%;
    margin-bottom: 5%;
    // background-color: #daf7f2;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    max-height: 100vh;
}

.innerCard{
    background-color: #ffffff;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60vh;
    width: 70vw;
}

.circleContainer{
    margin-top: 20px;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    overflow: hidden;
    background-color: #2e4e67;
    align-self: center;

}

h1 {
    // background-color: #2e4e67;
    color: #2e4e67;
    // width: 70px;
    padding-top: 30px;
    align-self: center;
    // font-size: 30px;
}

h3 {
    align-self: center;
}

#profile {
  border-style: solid;
}

#interests {
  border-style: hidden;
}

#projects {
  border-style: hidden;
}

#demo {
  border-style: hidden;
}

#profilepic{
    // margin-top: 20px;
    // border-radius: 15px;
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#sliderInnerCard {
  
}
  
.slider {
    width: 100%;
    // max-width: 800px;
    height: 90%;
    margin-bottom: 70px;
    // height: 350px;
    position: relative;
    overflow: hidden;  /* <===  */
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // display: flex;
    // border-color: #2e4e67;
    border-radius: 15px;
  }
  
  .slide {
    width: 86%;
    // max-width: 800px;
    height: 100%;
    // height: 350px;
    margin-left: 7%;
    margin-right: 7%;
    align-self: center;
    align-content: center;
    text-align: center;
    position: absolute;
    transition: all 0.5s;
  }

  #titleSlide {
    z-index: 99;
    background-color: #ffffff;
    // align-content: center;
    // text-align: center;
  }

  #div {
    width: 100%;
    height: 100%;
  }

  
  .slide img {
    width: 40vh;
    height: 40vh;
    // object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #2e4e67;
    font-size: 18px;
    z-index: 100;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }
  

// social media icons

.fa {
    padding: 7px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    text-decoration: none;
    border-radius: 10%;
    background-color: #0077B5;
    color: white;
}

#database {
    // align-self: center;
    background-color: #898989;
    border-radius: 50%;
    font-size: 50px;
    width: 60px;
    height: 60px;

    
}

#insta {
    background-color: #ea6989;
    margin-left: 5px;
}
#github {
    color:#000;
    background-color: #ffffff;
    margin-left: 5px;
}



h2 {
    margin-top: 0px;
    padding-top: 5px;
    color: rgb(255, 255, 255);
}

.skill {
    padding-right: 4vw;
    padding-left: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 80px;
    align-content: center;
    flex-direction: column;
    display: flex;
    align-self: center;
    align-items: center;
    border: 1px;
    border-style:groove;
    border-color: #2e4e67;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    // align-items: center;
    // display: flex;
}

.circleIcon {
    padding-top: 15px;
    justify-content: center;
    display: flex;
    
    align-items: center;
    
}

#title {
    // background-color: #0077B5;
    color: #2e4e67;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    
    
}

.info {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

////////// modal implementation ////////////////////

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 6px 16px;
    background-color: #2e4e67;
    color: white;
  }
  
  .modal-body {
    padding: 2px 16px;
    font-size: large;

}
  




#videoTitle {
    color:#2e4e67;
    font-family: 'Courier New', Courier, monospace;

}








///////////////////////////////////// TESTING CAROUSEL ///////////////////////////////////
/// 
/// 
/// 
/// 
/// 
/// 

@import url("https://fonts.googleapis.com/css?family=Poppins|Lato|Roboto+Mono&display=swap");


* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

#carousel-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #menu {
    height: 60vh;
    width: 70vw;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    transition: all 0.6s ease-in-out;
    border-radius: 30px;

    #current-option {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translate(-25%, 0%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //background-color: blue;
      overflow: hidden;

      #current-option-text1 {
        font-size: 1.6rem;
        line-height: 3rem;
        width: 220px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        //background: red;

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          //background: red;
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 200px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          //background: red;
        }
      }

      #current-option-text2 {
        font-size: 0.8rem;
        width: 220px;
        height: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        //background: green;

        &::before {
          content: attr(data-next-text);
          position: absolute;
          transform: translate(0%, 380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          //background: green;
        }

        &::after {
          content: attr(data-previous-text);
          position: absolute;
          transform: translate(0%, -380px);
          width: 100%;
          height: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          //background: green;
        }
      }
    }

    #previous-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, 50px);
    }

    #next-option {
      width: 1.5rem;
      height: 1.5rem;
      border: none;
      display: block;
      cursor: pointer;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 256 256'%3E%3Cpolygon points='225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093' fill='%23333'%3E%3C/polygon%3E%3C/svg%3E");
      background-size: cover;
      position: absolute;
      transform: translate(310px, -50px) rotate(180deg);
    }
  }

  #image {
    height: 240px;
    width: 240px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 101;
    position: absolute;
    transform: translate(140px, 0);
  }

  &.anim-next {
    pointer-events: none;

    #current-option-text1 {
      animation: next-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: next-text 0.65s 0.085s;
    }

    #previous-option {
      animation: next-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: next-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: next-image 0.65s 0.085s;
    }
  }

  &.anim-previous {
    pointer-events: none;

    #current-option-text1 {
      animation: previous-text 0.65s 0.085s;
    }

    #current-option-text2 {
      animation: previous-text 0.65s 0.085s;
    }

    #previous-option {
      animation: previous-top-arrow 0.65s 0.085s;
    }

    #next-option {
      animation: previous-bottom-arrow 0.65s 0.085s;
    }
    
    #image {
      animation: previous-image 0.65s 0.085s;
    }
  }
}

@keyframes previous-text {
  50%,
  55% {
    transform: translate(0%, 390px);
  }
  to {
    transform: translate(0%, 380px);
  }
}

@keyframes previous-top-arrow {
  50% {
    transform: translate(310px, 53px);
  }
}

@keyframes previous-bottom-arrow {
  50% {
    transform: translate(310px, -47px) rotate(180deg);
  }
}

@keyframes previous-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

@keyframes next-text {
  50%,
  55% {
    transform: translate(0%, -390px);
  }
  to {
    transform: translate(0%, -380px);
  }
}

@keyframes next-top-arrow {
  50% {
    transform: translate(310px, 47px);
  }
}

@keyframes next-bottom-arrow {
  50% {
    transform: translate(310px, -53px) rotate(180deg);
  }
}

@keyframes next-image {
  0% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
  70% {
    transform: translate(140px, 0) scale(1.1);
    opacity: 0;
  }
  100% {
    transform: translate(140px, 0) scale(1);
    opacity: 1;
  }
}

